*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:  "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.black{
    background-color: #333333;
}